<!DOCTYPE html>
<div class="welcome_page">
  <center>
    <h1>Welcome to Games Top!</h1>
    <IMG class="displayed" src="https://gaming4.cash/wp-content/uploads/2018/05/Gamer-Evolution.png" alt="Games Top">
    <%= link_to "Sign-up", new_user_path %>
  </center>
</div>
