<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>New User</title>
  </head>
  <body>
    <h1>New User</h1>

    <%= render "user_form" %>
    <script>alert("Thanks for Joining!")</script>
  </body>
</html>
