<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Game Index</title>
  </head>
  <body>
    <h1>All Games's List</h1>

    <% @games.each do |g| %>
      <div class="image">
        <a href="<%= game_path(g) %>">
        <img src="<%= g.image %>">
      </div>
        <br>Name: <%= g.name %><br>
    <% end %>

  </body>
</html>
