<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Game Index</title>

  </head>
  <body id="game_index_background">

    <div class="search_error">
    <% if @games.blank? %>
      <h5>There are no games that match "<%= params[:search] %>"</h5>
    <% end %>
    </div>

    <h1>All Games List</h1>

    <div class="grid-container">
    <% @games.each do |g| %>
      <div class="grid-item">
        <img src="<%= g.image %>">
        <br><%= link_to g.name, game_path(g) %>
      </div>
    <% end %>
    </div>

  </body>
</html>
