<h1>Are you sure you would like to purchase <%= @user_game.game.name %> from <%= @user_game.user.username %>?</h1>
<br>
<br><%= link_to "Yes", purchase_user_game_path(@user_game), :method => :patch  %><br>

<br><%= link_to "Nah Brah", user_game_path(@user_game)%><br>
