IMG.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.welcome_page{
  background-color: rgb(173, 176, 178);
}
.welcome_page h1{
  color: rgb(235, 235, 237);
}

#game_index_background{
  background-color: rgb(173, 176, 178);
}

.search_error {
  color: red;
  text-align: center;
}
.grid-container {
  display: grid;
  grid-row-gap: 20px;
  grid-template-columns: auto auto auto;
  background-color: rgb(173, 176, 178);
  padding: 10px;
}
.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 10px;
  font-size: 15px;
  text-align: center;
}
